<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="/">KanbanPro</a>
        </div>
        <ul class="nav-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
        </ul>
    </div>
</nav>